<!DOCTYPE html>
{% load unixtimestampfield %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reddio</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body>

    <div>
        Dashboard
    </div>
    <div>
        TXN COunt: {{txn_count}}<br />
        Users COunt: {{user_count}}<br />
        Contract COunt: {{contract_count}}<br />
    </div>

    <div>
        <div>Search
            <div>
                <form action="{% url 'search_contract' %}" method="POST">

                    {% csrf_token %}
                    Address: <input type="text" name="search-field" /> <input type="submit" value="Search">

                </form>
            </div>
        </div>
    </div>



    <div>
        <div>
            <div class="grid grid-cols-2 gap-1">
                <div class="">
                    Latest Transactions
                    {% for i in latestTxns %}
                    <br />
                    contract address: {{i.contract_address_id}} <br />
                    timestamp: {{i.timestamp | to_timestamp }} <br />
                    {{ i.timestamp | to_datetime }}

                    <div>
                        {% if i.record_type == 1 %}
                        MintRecordType
                        {% elif i.record_type == 2 %}
                        MintRecordType
                        {% elif i.record_type == 3 %}
                        TransferFromRecordType
                        {% elif i.record_type == 4 %}
                        WithdrawRecordType
                        {% elif i.record_type == 7 %}
                        ASKOrderRecordType
                        {% elif i.record_type == 8 %}
                        BIDOrderRecordType
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
                <div class="">
                    <div>
                        User Accounts
                        {% for i in userAccounts %}
                        <br />
                        user public address: <a href="/user/{{i.stark_key}}">{{i.stark_key}}</a> <br />
                        {% endfor %}
                    </div>

                </div>
            </div>

        </div>
    </div>







    <div>

    </div>

</body>


</html>